@media (max-width: 1300px) {
    .container{
        max-width: 960px;
    }
    .sidepanel{
        display: none;
    }
    .about{
        .about-grid{
            row-gap: 10px;
            .about__skills{
                grid-template: 1fr 1fr 1fr / 1fr ;
                gap: 24px;
            }
        }
        
    }
    .resume{
        &__wrapper{
            padding: 60px 0 0 0;
            column-gap: 100px;
        }
    }
    .skills{
        &__wrapper{
            grid-template: repeat(3,270px)/repeat(3,270px);
            justify-content: space-between;
        }
        &_scale{
            grid-template: 100px 100px 100px / 350px 350px;
            justify-content: space-around;
        }
    }
    .portfolio{
        &__wrapper{
            grid-template: repeat(2, 280px)/repeat(3, 280px);
            justify-content: space-between;
            row-gap: 50px;
            .vertical{
                grid-row: auto;
                grid-column: auto;
            }
            .horizontal{
                grid-row: auto;
                grid-column: auto;
            }
        }
        &__item{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }   
    }
    .contacts{
        &__wrapper{
            column-gap: 30px;
        }
        &__form{
            gap: 30px;
        }
    }
}
    
@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
    .promo{
        &__title{
            font-size: 38px;
        }
    }
    .menu{
        &__link{
            font-size: 20px;
        }
    }
    .about{
        .about-grid{
            .about__photo{     
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }           
                grid-row: unset;
            }
            .about__name{
                margin-top: 30px;
                grid-row: 2;
            }
            .about__skills{
                grid-row: 3;
                margin-top: 30px;
            }
            grid-template: 500px auto auto / 1fr;
        }
    }
    .resume{
        &__wrapper{
            grid-template: repeat(2, auto) / 1fr;
            .resume__column{
                &_two{
                    margin-top: 30px;
                }
            }
        }
    }
    .skills{
        &__wrapper{
            grid-template: repeat(4,270px) / repeat(2,270px);
            justify-content: space-between;
        }
    }
    .portfolio{
        &__wrapper{
            grid-template: repeat(3, 280px)/repeat(2, 280px);
            justify-content: space-around;
        }
    }
    .contacts{
        &__wrapper{
            grid-template-columns: minmax(auto,320px) minmax(auto,350px);
        }
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .skills{
        &_scale{
            grid-template: repeat(6,100px) / minmax(auto, 350px);
        }
    }
    .portfolio{
        &__wrapper{
            row-gap: 5px;
        }
    }
    .price{
        &__wrapper{
            grid-template: repeat(6,90px) / 350px;
            justify-content: center;
        }
    }
    .contacts{
        &__wrapper{
            grid-template-columns: auto;
        }
        &__photo{
            display: none;
        }
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .promo{
        &__title{
            width: 100%;
            font-size: 25px;
            line-height: 31px;
        }
    }
    .menu{
        &__block{
            width: 280px;
        }
    }
    .resume{
        &__subtitle{
            font-size: 30px;
        }
    }
    .skills{
        &__wrapper{
            grid-template: repeat(7,270px) / 1fr;
            justify-items: center;
        }
        &_scale{
            &__item{
                width: 100%;
            }
        }
    }
    .portfolio{
        &__wrapper{
            grid-template: repeat(6, 280px)/ 280px;
        }
    }
    .price{
        &__wrapper{
            grid-template: repeat(6, 90px) / minmax(auto, 320px);
        }
    }
    .contacts {
        &__wrapper{
            grid-template-columns: 1fr;
            .contacts__descr{
                .contacts__form {
                    grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
                    .contacts__textarea{
                        grid-column: 1/2;
                    }
                }
                .contacts__triggers{
                    grid-template-columns: 1fr;
                    grid-column: 1/2;
                    row-gap: 20px;
                }

            }
        }
    }
}
    



