 .promo{
    min-height: 100vh;
    position: relative;
    background: url('../img/BG_1.jpeg') no-repeat 50%/ cover;
    padding-top: 205px;
    &__title{
      width: 535px;
      margin-top: 10px;
    }
    &__btns{
      margin-top: 25px;
      display: flex;
      width: 250px;
      align-items: center;
      justify-content: space-between;
    }
    &__subtitle{
      z-index: 2;
      padding-left: 10px;
      position: relative;
      @include before_circle;
    }
    &__link{
      color:#000000; 
      &:hover {
         color:#000000;
         text-decoration: none;
      }
    }
 }