.resume{
    &__title{
        text-align: center;
        @include before_circle_center;
    }
    &__subtitle{
        text-align: center;
    }
    .divider{
        @include divider;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2,425px) ;
        justify-content: space-between;
        padding: 60px 65px 0 65px;
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main_color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul{
            list-style-type: none;
            li {
                position: relative;
                &::after{
                    content:"";
                    width: 1px;
                    height: 107%;
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: black;
                }
            }
        }
    }
    &__item{
        position: relative;
        &:before{
            content: "";
            height: 1px;
            width: 43px;
            position: absolute;
            background-color: black;
            top: 94px;
        }
        &-head{
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-style: 12px;
            line-height: 18px;
        }
        &-icon{
            position: absolute;
            top: 80px;
            left: 50px;
            @include circle;
        }
        &-location{
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
    
}