.skills{
    min-height: 1144px;
    padding-top: 120px;
    &__title{
        text-align: center;
        @include before_circle_center;
    }
    &__subtitle{
        text-align: center;
        margin-top: 10px;
    }
    .divider{
        @include divider;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper{
        display: grid;
        grid-template: repeat(2,270px)/repeat(4,270px);
        gap: 13px;
        margin: 60px 10px 0 11px;
        &-item{
            width: 270px;
            height: 270px;
            border: 1px solid black;
            padding: 30px;
            &-subtitle{
                font-style: 14px;
                font-weight: 700;
                margin-top: 20px;
            }
            &-descr{
                margin-top: 15px;
            }
        }
    }
    &_scale{
        display: grid;
        margin-top: 120px;
        grid-template: 100px 100px/ 350px 350px 350px;
        gap: 30px 45px;
        &__item{
            position: relative;
            width: 350px;
            height: 100px;
            .title_fz14{
                @include before_circle;
            }
            .percentage{
                position: absolute;
                top: 2px;
                right: 2px;
            }
            .scale_cover{
                width: 100%;
                height: 14px;
                background-color:#E8E4DE;
                position: absolute;
                bottom: 12px;
                z-index: -1;
                &_level{
                    height: 100%;
                    background-color: $main_color;
                    z-index: 3;
                }
            }
        }
    }
}